@font-face {
    font-family: MS-Bold;
    src: url(SpaceGrotesk-Bold-BF65712b4f9ac68.ttf);
}



@font-face {
    font-family: MS-Medium;
    src: url(SpaceGrotesk-Medium-BF65712b4fd0ef9.ttf);
}

@font-face {
    font-family: MS-Light;
    src: url(SpaceGrotesk-Light-BF65712b4fc80d0.ttf);
}



@font-face {
    font-family: MS-Regular;
    src: url(SpaceGrotesk-Regular-BF65712b4fdc934.ttf);
}

@font-face {
    font-family: MS-SemiBold;
    src: url(SpaceGrotesk-SemiBold-BF65712b4fe55fc.ttf);
}

@font-face {
    font-family: MS-Variable;
    src: url(SpaceGrotesk-VariableFont_wght-BF65712b500c2f2.ttf);
}

.getstarted1 button {
    width: 140px;
    height: 50px;
    background-color: #6C52AC;
    color: #fff;
    padding: 14px 24px;
    font-size: 16px;
    font-family: MS-Bold;
    border-radius: 8px;
    border: none;
}

.getstarted2 button {
    width: 158px;
    height: 54px;
    background-color: #024751;
    color: #fff;
    padding: 16px 20px;
    font-size: 16px;
    font-family: MS-Bold;
    border-radius: 8px;
    border: none;
    margin-top: 10%;
}

.getstarted3 button {
    width: 162px;
    height: 50px;
    background-color: #024751;
    color: #fff;
    padding: 16px 20px;
    font-size: 14px;
    font-family: MS-Bold;
    border-radius: 8px;
    border: none;
}

.getstarted4 button {
    width: 162px;
    height: 50px;
    background-color: #6C52AC;
    color: #fff;
    padding: 16px 20px;
    font-size: 14px;
    font-family: MS-Bold;
    border-radius: 8px;
    border: none;
}

.learnmorebtn button {
    width: 168px;
    height: 50px;
    background-color: #84022A;
    color: #fff;
    padding: 16px 24px;
    font-size: 14px;
    font-family: MS-Bold;
    border-radius: 8px;
    border: none;
}